/* -----------------------------Create List Form------------------------------*/
#CreateListStyle {
    margin: 5px 12px 0 15px;
}
#addListBtn,
#closeListFormBtn {
  width: 50%;
  padding: 0;   
  color: black;
  margin: 10px 0 0 0;
}
#saveListBtn {
  font-size: 15px;
  width: 100%;
  margin: 10px 0px 5px 0;
  padding: 0;
  color: black;
}
#listButtonsGrup {
  padding: 0px 8px 0 13px;
}
/* -----------------------------Modify List Form------------------------------*/
#ModifyListStyle {
  margin: 10px 12px 0 15px;
}
.routeHeadTable {
  user-select: none;
  color: #539ab6;
  font-size: 12px;
}
#modifyListBtn {
  font-size: 15px;
  width: 100%;
  margin: 10px 20px 5px 0;
  padding: 0 0 0 0;
  color: black;
}
.routeDetails {
  color: #539ab6;
  font-size: 10px;
}
.routeDetails:hover {
  color: #74d3f8;
  font-size: 10px;
}
.routeDetailsSmall {
  margin: 0 0 0 0;
}
