@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto; }

.bg-fon {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.bg-img {
  background: url("../pictures/1-title.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top left;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; }

.fireAuthConteinerRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  align-items: center;
  z-index: 555;
  left: 50%;
  height: 300px;
  transform: translate(-50%, 45%);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.75); }
  .fireAuthConteinerRegister:hover {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 0px 10px 3px rgba(68, 68, 68, 0.75); }
  .fireAuthConteinerRegister .firebaseAuth {
    cursor: pointer;
    z-index: 999; }
  .fireAuthConteinerRegister:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); }

.content {
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: white;
  z-index: 333;
  width: 80%;
  text-align: center;
  padding: 10px 32px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75); }

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #1b1b1b;
  padding: 0px 20px 0px 20px;
  z-index: 999;
  background: url("../pictures/tu160-2.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999);
  -moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999); }

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 30px; }

nav:after {
  content: "";
  clear: both;
  display: table; }

.nav-link {
  height: 50px;
  padding: 0 6px 0 6px; }

nav ul li.item {
  height: 50px;
  line-height: 50px;
  width: auto;
  text-align: center;
  cursor: pointer;
  color: #bbbaba;
  text-decoration: none;
  font-size: 18px;
  margin: 15px 3px 15px 0; }

.active,
nav ul li.item:hover {
  color: cyan;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

nav ul li.btn {
  height: 50px;
  color: white;
  font-size: 25px;
  display: none;
  padding: 0 10px; }

nav ul li.btn:hover {
  color: cyan;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

nav ul li.logo {
  flex: 1;
  height: 50px;
  color: #cfcece;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
  line-height: 85px;
  text-align: left; }

@media all and (max-width: 950px) {
  nav ul li.item {
    width: 100%;
    display: none; }
  nav ul li.btn {
    display: block;
    line-height: 50px;
    margin: 15px 5px 15px 0; }
  nav {
    z-index: 999;
    background: url("../pictures/tu160.jpg");
    background-size: cover;
    -webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999);
    -moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.999); } }

nav ul li.showBtn {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 0 0 0 0;
  line-height: 50px; }

nav ul li.showBtn:hover {
  color: cyan;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

.nav-link,
.nav-link:hover {
  color: #c0bfbf;
  text-decoration: none; }

.helpContent {
  font-size: 14px;
  padding: 30px;
  text-align: center;
  background: url("../pictures/help.jpg");
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75); }

.textConteiner {
  color: #afafaf; }

.helpContent header {
  color: #afafaf;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif; }

.helpDescription {
  position: relative;
  color: #afafaf;
  text-align: justify;
  text-indent: 40px; }

.helpDescription a {
  text-decoration: none;
  color: #afafaf; }

.helpStart a {
  color: #7794e2; }

.helpStart a:hover {
  color: #05aa3c; }

.helpDescriptionImg {
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.5s;
  margin: 10px 20px 10px 0;
  float: left; }

.helpDescriptionImg:hover {
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

.helpDescriptionImg:active {
  -webkit-transform: translateX(265px) scale(2.5); }

@media all and (max-width: 1360px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(290px) scale(2.3); } }

@media all and (max-width: 1240px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(215px) scale(2); } }

@media all and (max-width: 990px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(125px) scale(1.8); } }

@media all and (max-width: 780px) {
  .helpContent {
    font-size: 11px; }
  .helpDescriptionImg:active {
    -webkit-transform: translateX(70px) scale(1.5); } }

@media all and (max-width: 640px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(40px) scale(1.3); } }

@media all and (max-width: 520px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(20px) scale(1.2); } }

@media all and (max-width: 460px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(15px) scale(1.1); } }

.helpDescriptionImg.layer {
  -webkit-transition-duration: 0.8s; }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  background-color: darkgrey;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
