@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.bg-fon {
  background-color: white;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.bg-img {
  padding: 10px 25px 10px 25px;
  overflow: auto;
  height: 100vh;
  background-size: cover;
  background-position: top left;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; }

.justify-content-between {
  color: #1c1c24; }

details {
  color: #2aad2a;
  font-size: 11px;
  margin: 4px 0 0 0;
  padding: 0; }

details:hover {
  color: #6ef76e;
  font-size: 11px;
  margin: 4px 0 0 0; }

pre {
  margin: 0;
  font-weight: 550;
  font-family: "Montserrat", sans-serif; }

.head {
  color: #29a829; }

.carBrocken {
  color: red; }

.form-group {
  width: 122px;
  padding: 0 0 0 0;
  margin: 0 2px 0 0; }

.form-group input {
  font-size: 14px;
  height: 20px; }

.form-group label {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #cecaca; }

.form-group label:hover {
  color: limegreen; }

.form-control {
  margin: 0;
  padding: 0 2px 0 2px;
  width: 100%;
  text-align: center;
  background: #acaaaa; }

.form-control:hover {
  background: #f8f8f8;
  color: black;
  font-weight: 500; }

#date {
  background-color: #8bec8b;
  width: 100%;
  margin: 0 25px 0 0;
  text-align: center; }

#date:hover {
  background-color: #d2f1d2; }

#time {
  width: 197px;
  margin: 0 0px 0 0px;
  padding: 0 0px 0 0px;
  text-align: center; }

#time label {
  padding: 0 0 0 0;
  margin: 0 0 0 -130px; }

#date {
  width: 120px;
  font-size: 13px;
  padding: 0; }

#datetime-local {
  width: 122px; }

#datetime-local input {
  font-size: 8.5px;
  padding: 0; }

#dateOfCarRegistration {
  width: 90%;
  margin: 0 32px 0 0;
  text-align: center; }

.important {
  background-color: lightgreen; }

.important:hover {
  background-color: #d2f1d2; }

#danger:hover {
  background-color: #e21a1a; }

nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #232125;
  padding: 0px 10px 0px 10px;
  z-index: 999;
  background-size: cover;
  background-position: bottom;
  -webkit-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
  box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99); }
  nav:after {
    content: "";
    clear: both;
    display: table; }

.logoPicture {
  width: 200px;
  height: 60px;
  cursor: default;
  user-select: none;
  margin-top: 10px; }

.blockBeetween {
  flex: 1; }

.headerBlock {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  line-height: 30px; }

.nav-link {
  height: 50px;
  padding: 0 6px 0 6px;
  color: white;
  text-decoration: none; }
  .nav-link:hover {
    color: #dd0e0e; }

nav ul li.item {
  height: 50px;
  line-height: 50px;
  width: auto;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  margin: 15px 3px 15px 0; }

.active,
nav ul li.item:hover {
  color: #dd0e0e;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
  -moz-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
  box-shadow: 0 0 5px #ececec, 0 0 5px #ececec; }

nav ul li.btn {
  height: 50px;
  color: white;
  font-size: 25px;
  display: none;
  padding: 0 10px; }
  nav ul li.btn:hover {
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
    -moz-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
    box-shadow: 0 0 5px #ececec, 0 0 5px #ececec; }

@media all and (max-width: 900px) {
  nav ul li.item {
    width: 100%;
    display: none; }
  nav ul li.btn {
    flex: 2;
    display: block;
    line-height: 50px;
    margin: 15px 5px 15px 0; }
  nav {
    display: block;
    z-index: 999;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
    box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99); }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 0px; } }

nav ul li.showBtn {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 0 0 0 0;
  line-height: 50px; }

nav ul li.showBtn:hover {
  color: #dd0e0e;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
  -moz-box-shadow: 0 0 5px #ececec, 0 0 5px #ececec;
  box-shadow: 0 0 5px #ececec, 0 0 5px #ececec; }

.helpContent {
  font-size: 14px;
  padding: 30px;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); }

.textConteiner {
  color: black; }

.helpContent header {
  color: #afafaf;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif; }

.helpDescription {
  position: relative;
  color: black;
  text-align: justify;
  text-indent: 40px; }

.helpDescription a {
  text-decoration: none;
  color: #afafaf; }

.helpStart a {
  color: #7794e2; }

.helpStart a:hover {
  color: #05aa3c; }

.helpDescriptionImg {
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.5s;
  margin: 10px 20px 10px 0;
  float: left; }

.helpDescriptionImg:hover {
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

.helpDescriptionImg:active {
  -webkit-transform: translateX(265px) scale(2.5); }

@media all and (max-width: 1360px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(290px) scale(2.3); } }

@media all and (max-width: 1240px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(215px) scale(2); } }

@media all and (max-width: 990px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(125px) scale(1.8); } }

@media all and (max-width: 780px) {
  .helpContent {
    font-size: 11px; }
  .helpDescriptionImg:active {
    -webkit-transform: translateX(70px) scale(1.5); } }

@media all and (max-width: 640px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(40px) scale(1.3); } }

@media all and (max-width: 520px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(20px) scale(1.2); } }

@media all and (max-width: 460px) {
  .helpDescriptionImg:active {
    -webkit-transform: translateX(15px) scale(1.1); } }

.helpDescriptionImg.layer {
  -webkit-transition-duration: 0.8s; }

.createCarBasis {
  margin: 0;
  padding: 0;
  background-color: #232c14;
  color: white;
  border-radius: 5px;
  background-position: top;
  background-size: cover; }

.content {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  width: 55%;
  text-align: center;
  padding: 10px 32px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75); }

.content:hover {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75); }

#loginConteiner {
  top: 45%; }

.content header {
  color: black;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif; }

.content-about header {
  color: #afafaf;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif; }

.field {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  background: rgba(240, 240, 240, 0.94); }

.field span {
  color: #222;
  width: 40px;
  line-height: 45px; }

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif; }

.spase {
  margin-top: 12px; }

.pass {
  text-align: left;
  margin: 10px 0; }

.pass a {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

.pass:hover a {
  text-decoration: underline; }

input[type="submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer; }

input[type="submit"]:hover {
  background: #2691d9; }

.login {
  color: black;
  margin: 20px 0;
  font-family: "Poppins", sans-serif; }

.link {
  display: flex;
  cursor: pointer;
  color: black;
  margin: 0 0 20px 0; }

.link span {
  font-size: 16px;
  margin-left: 8px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Poppins", sans-serif; }

.signup {
  color: black;
  font-size: 13.5px;
  font-family: "Poppins", sans-serif; }

.signup a {
  color: #3498db;
  text-decoration: none; }

.signup a:hover {
  text-decoration: underline; }

.show,
.confirmShow {
  position: absolute;
  color: #222;
  cursor: pointer;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  display: none;
  font-family: "Montserrat", sans-serif; }

.password:valid ~ .show {
  display: block; }

.confirmPassword:valid ~ .confirmShow {
  display: block; }

.notConfirm {
  color: red; }

.description {
  position: relative;
  color: #afafaf;
  text-align: justify;
  text-indent: 40px; }

.descriptionImg {
  margin: 0 25px 10px 0;
  float: left; }

.boxes {
  overflow: hidden;
  height: 2000px;
  max-height: 500vh; }

.fireAuthConteinerRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  align-items: center;
  z-index: 555;
  left: 50%;
  height: 150px;
  transform: translate(-50%, 255%);
  padding-top: 15px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(196, 194, 194, 0.75); }
  .fireAuthConteinerRegister:hover {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 0px 10px 3px rgba(68, 68, 68, 0.75); }

.userInfoBasis {
  margin: 0px 0 0px 0;
  padding: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background-position: top;
  background-size: cover;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); }

#allSpace {
  margin: 0 20px 0 0; }

#fieldSpase {
  margin: 0;
  height: 20px;
  width: 156px;
  border-radius: 4px;
  background-color: #b3afaf;
  border: 1px solid lightgrey; }

#fieldSpase:hover {
  background-color: #fbfcfa; }

#fieldSpase span {
  text-align: justify;
  font-size: 11px;
  margin: -13px 0 0 0;
  padding: 0 0 0 5px; }

#fieldSpase input {
  font-size: 12px;
  margin: 0 0 0 0; }

#changeInfoBtn {
  width: 100%;
  margin: 15px 2px 0 2px;
  padding: 0; }

#id:hover,
#fieldSpase:hover,
#email:hover,
#identifisy:hover {
  background-color: red; }

#TransitionGroup {
  color: #a8a6a6; }

/* -----------------------------Main Object Table------------------------------*/
#carInnerLi {
  padding: 2px 5px 2px 5px;
  background-position: 50% 25%;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 0 6px 0; }

.carTable {
  font-size: 16px;
  padding: 0;
  margin: 3px 7px 0 0; }

.carTable tbody tr {
  color: #cfcece;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
  -webkit-box-shadow: 0px 0px 4px 3px #3d3d3d;
  -moz-box-shadow: 0px 0px 4px 3px #3d3d3d;
  box-shadow: 0px 0px 4px 3px #3d3d3d; }

.carTable tbody tr:hover {
  color: #03c0c0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

.carTable tbody tr td {
  padding: 0 5px 0 5px; }

.addingObjTableCarAgr td {
  margin-left: 25px;
  font-size: 13px; }

.addingObjTableCarAgr {
  margin-left: 25px; }

#deleteCarBtn {
  font-size: 10px;
  margin: 5px 0 0 0;
  padding: 0 5px 0 5px;
  color: #ff2400; }

#deleteCarBtn:hover {
  color: black; }

.headTable {
  color: #2b9e2b;
  font-size: 15px;
  font-weight: 600;
  background-color: none;
  margin: 2px 0 0 0;
  user-select: none; }

.routeTO2 pre {
  margin: 1px 0 0 0;
  font-size: 13px;
  font-weight: 300;
  color: #afacac; }

#summary {
  display: flex; }

#summaryConteiner {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.smallEnd {
  margin: 0 30px 0 0; }

#small {
  color: #25b425; }

#small:hover {
  color: #34eb34; }

.addingObjTableProf {
  font-size: 0px; }

#carBasis {
  font-size: 0px; }

.hr {
  margin: 7px 0 7px 0; }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
