//---PAYMENT-HEAD TABLE-------------------------------->
.paymentHeadTable td{
  font-size: 12px;
  border: 1px solid rgb(0, 0, 0);
}
//---CLIENT-PROJECT-PAYMENYT-COMPONENT PROPERTYS----------->
.allPaymentsConteiner{
    background-color: white;
    padding: 0px 5px 0px 5px;  
}
.paymentDetails {
    color: black;
    font-size: 9px;
    margin: 0 0 0 0;
  }
  .paymentDetails:hover {
    color: #190585;
    font-size: 9px;
  }
  .paymentDetails summary{
    width: 20%;
  }
.paymentDetailsSmall{
    font-size: 7px;
}
//---PAYMENT BUTTONS GROUP------------->
.payment-buttons-grup {
  background-color: lightseagreen;
  padding-bottom:5px;
  margin: 5px 0px 0px 0px;
}
.payment-buttons-grup button{
  font-size: 12px;
}
.add-pay-btn, .close-list-pay-btn{
  width: 50%;
  padding: 0;
  margin: 0px 0px 0px 0px;
  color: black;
}
.createPaymentBtn {
    font-size: 15px;
    width: 100%;
    margin: 10px 0px 0px 0;
    padding: 0;
    color: black;
  }
//---PAYMENT ADDITIONAL "LI"--------->
.payments-incomp-background{
  background-color: rgb(217, 231, 18);
  padding: 0;
  margin: 1px 0 1px 0;
  &:hover{
    background-color: rgb(34, 63, 90);
  }
}
//---CREATE PAYMENT BACKGROUND-->
.createPaymentStyle {
  background-color: lightgreen;
    padding: 0px 3px 7px 1px;
  }
  //---COMPONENT TABLE------->
  .paymentComponentTable td{
    margin: 0;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
}
//---PAYMENT RENDER COMPONENT BODY------------------------------>
//---COMMON CONTEINER----------------------------->
.payments-conteiner {
  background-color: rgb(73, 54, 54);
}
//---PAYMENTS HEADER ------------------------------->
.createPaymentsHeadBasis {
  color: rgb(255, 255, 255);
  padding: 1px 0px 0px 0px;
  background: rgb(23, 19, 51);
  //border-radius: 5px;
  background-position: top;
  background-size: cover;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
//---PAYMENTS HEADER TABLE-------->
.allPaymentTable {
  font-size: 16px;
  height: 10px;
  width: 100%;
  text-align: center;
}
.allPaymentTable td {
  border: 1px solid white;
  width: 25%;
}
//---BACKGROUND---->
.commonPaymentRender{
  background-color: rgb(18, 208, 233);
  margin: 4px 0 4px 0;
  width: 100%;
}
//---MAIN COMMON BASIS BODY !!!---->
.paymentTableBasis {
  margin: 3px 0 3px 0;
  background-color: lightpink;
  height: auto;
}
  .paymentTable {
    cursor: pointer;
    color: black;
    font-size: 16px;
    //border-radius: 5px;
    // -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64); 
    // box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64);
    &:hover{
      //color: rgb(3, 192, 192);
      // -webkit-box-shadow: 0px 10px 13px -7px #2e2e2e, 1px 1px 1px 1px rgba(0,0,0,0.64); 
      // box-shadow: 0px 10px 13px -7px #424242, 1px 1px 1px 1px rgba(0,0,0,0.64);
    }
  }
  .paymentCommonTable td{
      margin: 0;
      padding: 0;
      border: 1px solid rgb(0, 0, 0);
  }
  .deletePaymentBtn {
    font-size: 7px;
    padding: 2px 5px 2px 5px;
    margin: 5px 0 5px 0;
    color: #ff2400;
  }
  .deletePaymentBtn:hover {
    color: black;
  }
 
 
  