//---PAYMENT-HEAD TABLE-------------------------------->
.paymentHeadTable td{
  font-size: 12px;
  border: 1px solid rgb(0, 0, 0);
}
//---CLIENT-PROJECT-PAYMENYT-COMPONENT PROPERTYS----------->
.paymentDetails {
    color: black;
    font-size: 9px;
    margin: 0 0 0 0;
  }
  .paymentDetails:hover {
    color: #190585;
  }
  .paymentDetails summary{
    width: 20%;
  }
.paymentDetailsSmall{
    font-size: 8px;
}
//---PAYMENT BUTTONS GROUP------------->
.payment-buttons-grup {
  background-color: lightseagreen;
  padding-bottom:5px;
  margin: 5px 0px 0px 0px;
}
.payment-buttons-grup button{
  font-size: 12px;
}
.add-pay-btn, .close-list-pay-btn{
  width: 50%;
  padding: 0;
  margin: 0px 0px 0px 0px;
  color: black;
}
.createPaymentBtn {
    font-size: 12px;
    width: 100%;
    margin: 10px 0px 0px 0;
    padding: 0;
    height: 22px;
    color: rgb(207, 207, 207);
    background: rgb(23, 19, 51);
    border: 1px solid rgb(78, 78, 78);
    &:hover {
      background: rgb(41, 33, 88);
    }
  }
//---PAYMENT ADDITIONAL "LI"--------->
.payments-incomp-background{
  width: 100%;
  background-color: rgb(217, 231, 18);
  padding: 0;
  margin: 1px 0 1px 0;
}
//---CREATE PAYMENT BACKGROUND-->
.createPaymentStyle {
    padding: 0px 0px 7px 1px;
  }
  //---COMPONENT TABLE------->
  .paymentComponentTable td{
    margin: 0;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
}
//---PAYMENT RENDER COMPONENT BODY------------------------------>
//---COMMON CONTEINER----------------------------->
// .payments-conteiner {
//   background-color: rgb(73, 54, 54);
//   margin-bottom: 5px;
// }
//---PAYMENTS HEADER ------------------------------->
.createPaymentsHeadBasis {
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 1px 0px 0px 0px;
  background: rgb(23, 19, 51);
  //border-radius: 5px;
  background-position: top;
  background-size: cover;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
//---PAYMENTS HEADER TABLE-------->
.allPaymentTable {
  height: 10px;
  text-align: center;
}
// .allPaymentTable td {
//   border: 1px solid white;
// }
//---PAYMENT BACKGROUND---->
.transitionGroupeConteiner{
  width: 100%
}
.paymentsBackgroundSize{
  background-color: rgb(160, 160, 160);
  border: none;
  padding: 0;
}
//---MAIN COMMON BASIS BODY !!!---->
.paymentTableBasis {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgb(83, 83, 83);
  width: 100%;
  margin: 3px 0 3px 0;
  background-color: rgb(130, 128, 133);
  height: auto;
  &:hover{
    background-color: rgb(156, 154, 160);
  }
}
  .paymentTable {
    color: black;
    //border-radius: 5px;
    // -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64); 
    // box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64);
    //&:hover{
      //color: rgb(3, 192, 192);
      // -webkit-box-shadow: 0px 10px 13px -7px #2e2e2e, 1px 1px 1px 1px rgba(0,0,0,0.64); 
      // box-shadow: 0px 10px 13px -7px #424242, 1px 1px 1px 1px rgba(0,0,0,0.64);
    //}
  }
  .paymentCommonTable td{
    font-size: 14px;
      //border: 1px solid rgb(0, 0, 0);
  }
  .deletePaymentBtn {
    font-size: 7px;
    padding: 2px 5px 2px 5px;
    color: #ff2400;
  }
  .deletePaymentBtn:hover {
    color: black;
  }
  .clousePaymentBtnTable{
    color: rgb(192, 192, 192);
    border-radius: 3px;
    font-size: 12px;
    background: rgb(23, 19, 51);
    cursor: pointer;
    height: 22px;
    width: 100%;
    margin: 5px 0 0 0;
    &:hover{
      background: rgb(40, 33, 87);
    }
  }
 
 
  