//-- CREATE PROJECT STYLE --------------------->
.projectInnerLi {
        margin: 5px 0 0 0;
        padding: 0;
        background: none;
}
.CreateProjectStyle {
    margin: 5px 12px 0 15px;
}
.clouseProjectBasis {
    padding: 0 5px 0 5px;
  }
  .clouseProjectForm {
    width: 100%;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
.projectTable {
    cursor: pointer;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 0 5px 0 5px;
    border: 1px solid black;
    //border-radius: 5px;
    // -webkit-box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
    // -moz-box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
    // box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
    &:hover {
    color: rgb(3, 192, 192);
    //border-radius: 5px;
    // -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    // -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    // box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    }
  }
.deleteProjectBtn {
    font-size: 7px;
    padding: 0 5px 0 5px;
    margin: 2px 0 2px 0;
    color: #ff2400;
  }
.deleteProjectBtn:hover {
    color: black;
  }
.projectButtonsGrup{
    padding: 0 3px 2px 5px;
  }
.projectButtonsGrup button {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
.headTable{
  color: rgb(43, 158, 43);
  font-size: 12px;
  font-weight: 600;
  background-color: none;
  margin: 2px 0 0 0;
  user-select: none;
}
  // .head {
  //   color: rgb(41, 168, 41);
  // }
//--MODIFY PROJECT STYLE --------------------->
.ModifyProjectStyle {
    margin: 5px 5px 0 5px;
  }
.saveProjectBtn {
    font-size: 15px;
    width: 100%;
    margin: 10px 2px 5px 0;
    padding: 0;
    color: black;
  }
.addProjectBtn,
.closeProjectBtn {
    width: 50%;
    padding: 0;   
    color: black;
    margin: 5px 0 0 0;
  }
  //---SUMMARU HTML-------------------> 
details {
  color: rgb(12, 12, 12);
  font-size: 10px;
  margin:2px 0 0 0;
  padding: 0;
}
details:hover {
  color: rgb(110, 247, 110);
  font-size: 10px;
  margin: 2px 0 0 0;
}
#summary {
  display: flex;
}
#summaryConteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}





  
// .routeHeadTable {
//     user-select: none;
//     color: #539ab6;
//     font-size: 12px;
//   }
//   #modifyListBtn {
//     font-size: 15px;
//     width: 100%;
//     margin: 10px 20px 5px 0;
//     padding: 0 0 0 0;
//     color: black;
//   }
//   .routeDetails {
//     color: #539ab6;
//     font-size: 10px;
//   }
//   .routeDetails:hover {
//     color: #74d3f8;
//     font-size: 10px;
//   }
//   .routeDetailsSmall {
//     margin: 0 0 0 0;
//   }
// .liquidValue {
//     color: rgb(146, 145, 145);
//   }
  
  