//-- CREATE PROJECT STYLE --------------------->
.CreateProjectStyle {
  background-color: rgb(160, 160, 160);
  padding: 0 5px 0 5px;
}
.projectInnerLi {
  border-radius: 10px;
  margin: 5px 0 0 0;
  padding: 0;
  background: rgb(125, 128, 131);
  border: 1px solid rgb(119, 119, 119);
  &:hover{
    background: rgb(131, 135, 138);
  }
}
//---HEAD TABLE---------------------->
.projectsTable {
  // client base
  background-color: rgb(160, 160, 160);
  padding: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
  box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.99);
}
.headTable {
  background: rgb(23, 19, 51);
  color: rgb(194, 194, 194);
  font-size: 12px;
  font-weight: 600;
  background-color: none;
  user-select: none;
}
.headTable td {
  border: 1px solid rgb(45, 52, 58);
}
//---CLOUSE PROJECT TABLE - BUTTON BLOCK----------------->
.clouseProjectBasis {
  padding: 5px 5px 0 5px;
  cursor: pointer;
}
.clouseProjectForm  {
  border-radius: 5px;
  background-color: rgb(8, 28, 71);
  width: 100%;
  text-align: center;
  margin: 0;
  &:hover {
    background-color: rgb(10, 35, 90);
  }
}
.clouseProjectTableButton {
  border-radius: 5px;
  font-size: 14px;
  color: white;
  height: 25px;
}
//---PROJECT DATA TABLE---------------------->
.projectTable {
  cursor: pointer;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 0 5px 0 5px;
}
.projectTable td {
  border: 1px solid rgb(142, 164, 184);
}
.deleteProjectBtn {
  font-size: 7px;
  padding: 5px 5px 5px 5px;
  margin: 6px 3px 2px 0;
  color: #ff2400;
}
.deleteProjectBtn:hover {
  color: black;
}
.projectButtonsGrup {
  padding: 0 3px 5px 5px;
}
.checkbox{
  padding: 27px 0 0 0;
  label{
    font-size: 12px;
  }
}
@media all and (max-width: 870px) {
  .checkbox{
    padding: 24px 0 0 0;
    label{
      font-size: 8px;
    }
  }
}
//--MODIFY PROJECT STYLE --------------------->
.ModifyProjectStyle{
  margin: 0 5px 0 5px;
}
.custom-select-sm {
  margin: 0 0 0 0;
  }
.saveProjectBtn {
  font-size: 15px;
  width: 100%;
  margin: 10px 2px 5px 0;
  padding: 0;
  color: black;
  border: 1px solid rgb(88, 88, 88);
  font-weight: 600;
}
//--BUTTONS BLOCK ----------------------------->
.projectButtonsGrup button {
  font-size: 12px;
}
.addProjectBtn,
.closeProjectBtn {
  width: 50%;
  padding: 0;
  margin: 5px 0 0 0;
}
//---SUMMARU HTML------------------->
details {
  font-size: 10px;
  margin: 2px 0 0 0;
  padding: 0;

  &:active {
    color: rgb(60, 60, 60);
    border: none;
  }
}
#summary {
  color: rgb(34, 34, 34);
  width: 15%;
  display: flex;
}
#summaryConteiner {
  display: flex;
  justify-content: space-between;
  border: none;
}
#small {
  color: rgb(17, 209, 24);
  font-weight: bold;
  &:active {
    border: none;
  }
  &:hover {
    color: rgb(248, 223, 33);
  }
}










.good{
  font-weight: bold;
  color: blue;
}
.bad {
  font-weight: bold;
  color: red;
  padding: 1px 3px 1px 3px;
  border: 2px solid red;
  border-radius: 50%;
}
.badTime {
  background-color: red;
  font-weight: bold;
  color:black;
}
.goodTime {
  font-weight: bold;
  color: blue;
  padding: 1px 3px 1px 3px;
}
.projectName{
  font-weight: bold;
}
.smallProjectDateBold{
  font-weight: bold;
}
.projectBasis{
  height: 19px;
}

